<div class="container">
  <div class="content">
    <div id="name-field" class="content__field">
      <label id="name-label" for="name">Name</label>
      <input
        id="name"
        type="text"
        aria-label="name"
        title="Name"
        autocomplete="off"
      />
    </div>
    <div
      id="age-field"
      class="content__field"
      [ngStyle]="{ color: currentColor }"
    >
      <label id="age-label" for="age">Age</label>
      <input
        id="age"
        aria-label="age"
        type="text"
        title="Age"
        autocomplete="off"
      />
    </div>
    <input
      type="color"
      name="color"
      id="color"
      (input)="onClickToggle($event)"
    />
  </div>
</div>
